<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Cantarell|Kotta+One" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/ryu-reset.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Home</title>
</head>
<body>
    <header class="smx-fxd-hdr">

    </header>
    <section class="smx-atf">
        <div>
            <h1>Welcome to Solution Matrix</h1>
        </div>
    </section>
    <section class="smx-row">

    </section>
    <section class="smx-row">

    </section>
    <section class="smx-row">

    </section>
</body>
</html>