html, body {
    box-sizing: border-box;
    color: var(--smx-black);
    font-family: 'Cantarell', 'sans-serif';
}
.smx-atf {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-image: url("/public/img/black-and-white-clouds-cold-1990166.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    color: var(--smx-light-grey);
    font-size: 2em;
}

.smx-row {
    border-top: 1px solid gray;
    height: 400px;
    width: 100%;
}
.smx-fxd-hdr {
    height: 40px;
    width: 100%;
    position: fixed;
    background-color: var(--smx-t-blue-grey);
}

.smx-idx {
    height: 100vh;
    display: flex;
    flex-flow: column;
    background-image: linear-gradient(var(--smx-black), var(--smx-light-blue));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content {
    max-width: 1180px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.space-between {
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}